@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

/* 스크롤바 트랙 장식 */
*::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* 스크롤바 핸들 장식 */
*::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* 스크롤바 핸들 호버 시 장식 */
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.example::-webkit-scrollbar {
  display: none;
}

.example {
  -ms-overflow-style: none; /* IE and 엣지 */
  scrollbar-width: none; /* 파이어폭스 */
}

.badges {
  @apply bg-indigo-100 text-indigo-800 text-[3px] font-medium mr-2 px-2 py-0.5 rounded dark:bg-gray-700 dark:text-indigo-400 border border-indigo-400;
}

.info {
  @apply border-b-2 border-b-white border-opacity-30 py-3.5 flex;
}

.infoItem {
  @apply mr-2.5 flex flex-wrap;
}

.infoName {
  @apply dark:text-white mr-2.5 leading-6 font-semibold;
}

.infoValue {
  @apply opacity-50 leading-6;
}

/* 리뷰 */
.comment-wrapper {
  @apply bg-white dark:bg-[#101725] opacity-50 py-8 lg:py-16 antialiased;
}

.comment-textarea-wrapper {
  @apply py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700;
}

.comment-textarea {
  @apply px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 focus:outline-none dark:text-white dark:placeholder-gray-400 dark:bg-gray-800;
}

.comment-submit-btn {
  @apply inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800;
}

.comment-list-dropdown-btn {
  @apply inline-flex items-center p-2 text-sm font-medium text-center text-gray-500 dark:text-gray-400 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50 dark:bg-gray-900 dark:hover:bg-gray-700 dark:focus:ring-gray-600 mb-2;
}

.dropdown-wrapper {
  @apply z-10 w-36 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600 absolute right-[18rem];
}

.dropdown-li {
  @apply block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer;
}

.reply-btn {
  @apply flex items-center text-sm text-gray-500 hover:underline dark:text-gray-400 font-medium;
}
