@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

/* 스크롤바 트랙 장식 */
*::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* 스크롤바 핸들 장식 */
*::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* 스크롤바 핸들 호버 시 장식 */
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}
